<%- include('../layout/admin/header.ejs') -%>

  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Coupons</h2>
      </div>
      <div class="d-grid">
        <a href="addCoupon">
          <button class="btn btn-primary">Add Coupon</button>
        </a>
      </div>
      <div>
        <input type="text" placeholder="Search Categories" class="form-control bg-white" />
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <%if(coupons && coupons.length>0){%>
                  <thead>
                    <tr class="text-center">

                      <th>NO</th>
                      <th>Name</th>
                      <th>Code</th>
                      <th>Discount</th>
                      <th>Criteria Amount</th>
                      <th>Activation Date</th>
                      <th>Expiry</th>
                      <th class="text-end">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(i=0;i < coupons.length;i++){%>
                      <tr class="text-center">

                        <td>
                          <%=i+1%>
                        </td>
                        <td><b>
                            <%=coupons[i].name%>
                          </b></td>
                        <td>
                          <%=coupons[i].code%>
                        </td>
                        <td>
                          <%=coupons[i].discount%>
                        </td>
                        <td>
                          <%=coupons[i].criteria%>
                        </td>
                        <td>
                          <%=coupons[i].activation_date%>
                        </td>
                        <td>
                          <%=coupons[i].expiry_date%>
                        </td>
                        <td class="text-end">
                          <div class="dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                              <i class="material-icons md-more_horiz"></i>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" onclick="deleteCoupon('<%=coupons[i]._id%>')">Delete</a>
                              <!-- <a class="dropdown-item text-danger" href="#">Delete</a> -->
                            </div>
                          </div>
                          <!-- dropdown //end -->
                        </td>
                      </tr>
                      <%}%>
                  </tbody>
                  <%}else{%>

                    <h3 class="text-center text-muted">No coupons available</h3>
                    <p class="text-center text-muted">add some coupons..</p>
                    <%}%>
              </table>
            </div>
          </div>
          <!-- .col// -->
        </div>
        <!-- .row // -->
      </div>
      <!-- card body .// -->
    </div>
    <!-- card .// -->
    <div class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item active">
            <a class="page-link" href="#">01</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">02</a></li>
          <li class="page-item"><a class="page-link" href="#">03</a></li>
          <li class="page-item">
            <a class="page-link dot" href="#">...</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">16</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    function deleteCoupon(id) {

      Swal.fire({
        title: 'Are you sure??',
        text: 'You are about to delete this coupon',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#d33',
        cancelButtonColor: '#c96',
        confirmButtonText: 'yes'
      }).then(async (result) => {
        if (result.isConfirmed) {
          try {
            const response = fetch('/admin/deleteCoupon', {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ id })
            })
            if (response) {
              Swal.fire('Deleted', 'Coupons is deleted', 'success')
                .then(() => {
                  location.reload()
                })
            } else {
              Swal.fire('Error', 'Failed to delete', 'error')
              console.log(error.message)
            }
          } catch (error) {
            console.log(error.message);
            Swal.fire('Error', 'Failed to delete', 'error')
          }
        }
      })

    }
  </script>

  <%- include('../layout/admin/footer.ejs') -%>