<%- include('../layout/admin/header.ejs') -%>

  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Products</h2>
      </div>
      <div class="d-grid">
        <a href="addProducts">
          <button class="btn btn-primary">Add Products</button>
        </a>
      </div>
      <div>
        <input type="text" placeholder="Search Products" class="form-control bg-white" />
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        
        <div class="row">
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center">
                    </th>
                    <th>NO</th>
                    <th>Img</th>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Status</th>
                    <th>Offers</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i< product.length ; i++) {%>
                    <tr>
                      <td class="text-center">
                      </td>
                      <td>
                        <%= i+1 %>
                      </td>
                      <td><b>
                          <img style="max-width: 80px; max-height: 80px;"
                            src="/multerimages/<%= product[i].images[0] %>" alt="">
                        </b></td>
                      <td>
                        <%= product[i].name %>
                      </td>
                      <td>
                        <%= product[i].quantity %>
                      </td>
                      <td>
                        <%= product[i].category.name %>
                      </td>
                      <%if(product[i].offerId){%>
                      <td>
                        <p class="text-danger small"><s><%= product[i].price + "/-" %></s></p>
                        <p class="text-success small"><%= product[i].offerPercentage + "/-" %></p>
                      </td>
                      <%}else{%>
                        <td class="text-success">
                          <%= product[i].price + "/-" %>
                        </td>
                        <%}%>
                      <td>

                        <% if (product[i].isListed) {%>
                          <button class="badge bg-success" style="border: none" onclick="block('<%=product[i]._id%>')">
                            Unlist
                          </button>
                          <% } else { %>
                            <button class="badge bg-danger" style="border: none;"
                              onclick="block('<%=product[i]._id%>')">
                              List
                            </button>
                            <% } %>


                      </td>
                      <td>
                        <%if(product[i].offerId){%>
                          <button onclick="OfferRemove('<%=product[i]._id%>')" class="badge" style="border: none; background-color: red;" >
                            Remove
                          </button>
                          <%}else{%>
                            <button type="button" onclick="Offer('<%=product[i]._id%>')" class="badge" style="border: none; background-color: #3bb77e;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              Offers
                            </button>
                          <%}%>
                        
                      </td>
                      <td class="text-end">
                        <div class="dropdown">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                            <i class="material-icons md-more_horiz"></i>
                          </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="editProducts?id=<%= product[i]._id %>">Edit</a>
                            <!-- <a class="dropdown-item text-danger" href="#">Delete</a> -->
                          </div>
                        </div>
                        <!-- dropdown //end -->
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- .col// -->
        </div>
        <!-- .row // -->
      </div>
      <!-- card body .// -->
    </div>
    <!-- card .// -->
    <div class="pagination-area mt-30 mb-50">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
          <li class="page-item active">
            <a class="page-link" href="#">01</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">02</a></li>
          <li class="page-item"><a class="page-link" href="#">03</a></li>
          <li class="page-item">
            <a class="page-link dot" href="#">...</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">16</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Available Offers</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%if(offers && offers.length>0){%>
        
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="text-center">
                </th>
                <th>Name</th>
                <th>discount%</th>
                <th>starts</th>
                <th>expires</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%offers.forEach((val,index)=>{%>
                <tr>
                  <td class="text-center">
                  </td>
                  <td>
                    <%= val.name %>
                  </td>
                  <td>
                    <%= val.discount %>
                  </td>
                  <td>
                    <%= val.activation_date %>
                  </td>
                  <td class="text-success">
                    <%= val.expiry_date %>
                  </td>
                  <td>
                      <button class="badge bg-success text-end" style="border: none" onclick="addOffer('<%=val._id%>')">
                        Apply
                      </button>
                  </td>          
                </tr>
                <%})%>
            </tbody>
          </table>
        
        
        <%}else{%>
          <h6>no offer</h6>
          <%}%>
      </div>
    </div>
  </div>
</div>

<script>
  async function block(id) {
    Swal.fire({
title: "Are you sure?",
text: "Confirm this action?",
showCancelButton: true,
confirmButtonColor: "Green",
cancelButtonColor: "#d33",
confirmButtonText: "Confirm"
}).then(async(result) => {
if (result.isConfirmed) {
  const response = await fetch(`/admin/listProducts/${id}`,{
      method: "POST",
    });

    if (response.status === 200) {
      window.location.reload();
    }
}
});

  }
</script>



  <script>

    var productId;

    async function Offer(prdctId){
      productId = prdctId;
    }

    async function addOffer(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You want to apply this offer?",
        showCancelButton: true,
        confirmButtonColor: "Green",
        cancelButtonColor: "#d33",
        confirmButtonText: "Confirm"
      }).then(async (result) => {
        if (result.isConfirmed) {
          const response = await fetch('/admin/applyOffer/', {
            method: "PATCH",
            headers : {
              'Content-Type' : 'application/json'
            },
            body : JSON.stringify({id,productId:productId})
          })
          .then(response => response.json())
          .then(data => {
            if (data.status === true) {
              Swal.fire({
                icon:'success',
                title: "Success",
                text: "Offer applied to this product",
                confirmButtonColor: "Green",
                confirmButtonText: "ok",
                timer:3000
        }).then(()=>{
          location.reload()
        })
          } 
          })

          
        }
      });

    }

    
  </script>

  <script>
    function OfferRemove(id) {
      console.log('offer123')
      fetch('/admin/removeOffer',{
        method:'PATCH',
        headers : {
          'Content-Type' : 'application/json'
        },
        body : JSON.stringify({id})
        
      })
      .then(response => response.json())
      .then(data => {
        if(data.remove===true){
          Swal.fire({
                icon:'success',
                title: "Removed",
                text: "Offer removed from this product",
                confirmButtonColor: "Green",
                confirmButtonText: "ok",
                timer:3000
          }).then(()=>{
            location.reload()
          })
        }
      })
    }
  </script>



  <%- include('../layout/admin/footer.ejs') -%>