<%-include('../layout/user/header2.ejs')-%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shopPage">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			
            			<form id="checkoutForm">
		                	<div class="row">
		                		<div class="col-lg-9">
                                    
                                    <!-- Button trigger modal -->                                   
                                    <% if (address && address.address && address.address.length) {%>
                                        <div class="summary">
                                            <h6 class="shipping-address">Choose a address for shipping.</h6>
                                            <div class="accordion-summary" id="accordion-payment">

                                            <% address.address.forEach((val,index)=>{%>

                                                <div class="card">
                                                    <div class="card-header" id="heading-<%=index%>">
                                                        <h2 class="card-title mb-1">
                                                            <label class="custom-radio">
                                                                <input type="radio" value="<%= val._id%>" name="selectedAddress"  data-toggle="collapse" href="#collapse-address-<%=index%>" aria-expanded="false" aria-controls="collapse-address-<%=index%>">
                                                                <%= val.fullName %> , <%= val.address %>
                                                            </label>
                                                            
                                                            
                                                        </h2>
                                                
                                                    </div><!-- End .card-header -->
                                                    <div id="collapse-address-<%=index%>" class="collapse mb-1" aria-labelledby="heading-<%=index%>" data-parent="#accordion-payment">
                                                        <div class="card-body">
                                                            <%= val.email %> , <%= val.mobile %>
                                                        </div><!-- End .card-body -->
                                                        <div class="card-body">
                                                            <%= val.pincode%>, <%=val.district%>, <%=val.state%>, <%=val.country%>
                                                        </div><!-- End .card-body -->
                                                        
                                                        <a class="ml-5 mb-1" href=""><i>edit</i></a>

                                        

                                                    </div><!-- End .collapse -->

                                                </div><!-- End .card -->
                                                
                                            <%})%>
                                            
                                            
                                                
                                            </div><!-- End .accordion -->
                                        </div><!-- End .summary -->

                                        <div class="card-header" id="heading-1">
                                            <h2 class="card-title">
                                                <a role="button" class="shipping-add-address" data-toggle="collapse" href="#addAddress" aria-expanded="false" aria-controls="addAddress">
                                                    Ship to an different address ?
                                                </a>
                                            </h2>
                                        </div><!-- End .card-header -->

                                    
                                        <form id="checkoutAddress">
                                        <div id="addAddress"  class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Full Name *</label>
                                                    <input type="text" id="fullName" name="fullName" class="form-control" >
                                                    <div class="login-error" id="fullnameError"></div>
                                                </div><!-- End .col-sm-6 -->
    
                                                <div class="col-sm-6">
                                                    <label>Address *</label>
                                                    <input type="text" id="address" name="address" class="form-control" >
                                                    <div class="login-error" id="addressError"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Email *</label>
                                                    <input type="text" id="email" name="email" class="form-control" >
                                                    <div class="login-error" id="emailError"></div>
                                                </div><!-- End .col-sm-6 -->
    
                                                <div class="col-sm-6">
                                                    <label>Mobile *</label>
                                                    <input type="text" id="mobile" name="mobile" class="form-control" >
                                                    <div class="login-error" id="mobileError"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Country *</label>
                                                    <input type="text" id="country" name="country" class="form-control" >
                                                    <div class="login-error" id="countryError"></div>
                                                </div><!-- End .col-sm-6 -->
    
                                                <div class="col-sm-6">
                                                    <label>State *</label>
                                                    <input type="text" id="state" name="state" class="form-control" >
                                                    <div class="login-error" id="stateError"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>District *</label>
                                                    <input type="text" id="district" name="district" class="form-control" >
                                                    <div class="login-error" id="districtError"></div>
                                                </div><!-- End .col-sm-6 -->
    
                                                <div class="col-sm-6">
                                                    <label>Pincode *</label>
                                                    <input type="text" id="pincode" name="pincode" class="form-control" >
                                                    <div class="login-error" id="pincodeError"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <button type="submit" id="submitButton" class="btn btn-outline-primary-2 btn-order btn-block mt-1">
                                                <span class="btn-text">Add Address</span>
                                                <span class="btn-hover-text">Submit</span>
                                            </button>

                                        </div><!-- End .custom-checkbox -->

                                    </form>

                                    <div class="card-header" id="heading-1">
                                        <h2 class="card-title">
                                            <a role="button" class="shipping-add-address" data-toggle="collapse" href="#availableCoupons" aria-expanded="false" aria-controls="availableCoupons">
                                                Show available coupons
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->

                                    <div id="availableCoupons"  class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                        <div class="row">  
                                            <%if(coupon && coupon.length>0){%>
                                                <%coupon.forEach((val,index)=>{%>     
                                                <div class="summary col-md-3 ml-1 mr-2 mb-2">
                                                    <label class="custom-radio">
                                                    
                                                    <h5 class="text-center" style="color: #c96;"><%=val.name%></h6>
                                                    <h6>Code: <%=val.code%></h6>
                                                    <p>Discount: <%=val.discount%></p>
                                                    <p>Expiry: <%=val.expiry_date%></p>
                                                    </label>
                                                    <%if(product.coupon && val._id.toString() === product.coupon._id.toString()){%>
                                                        <div style="display: flex; justify-content: center;">
                                                            <button type="button" onclick="removeCoupon()" class="btn btn-outline-primary-2 btn-block mt-2 rounded-pill">
                                                                <span class="btn-text">Remove</span>
                                                                <span class="btn-hover-text">Click</span>
                                                            </button>
                                                        </div>
                                                        
                                                    <%}else{%>
                                                        <div style="display: flex; justify-content: center;">
                                                            <button type="button" onclick="addCoupon('<%=val._id%>') "  class="btn btn-outline-primary-2 btn-block mt-2 rounded-pill">
                                                                <span class="btn-text">Apply</span>
                                                                <span class="btn-hover-text">Click</span>
                                                            </button>
                                                        </div>
                                                    <%}%>
                                                    
                                                </div> 
                                                <%})%>
                                                <%}else{%>
                                                    <div class="summary col-md-12 text-center">
                                                        <h6 class="text-muted">No coupons available!!</h6>
                                                    </div> 
                                                    
                                                    <%}%>
                                        </div>
                                        

                                        

                                    </div><!-- End .custom-checkbox -->

                                        <%} else {%>

                                            <form id="newCheckoutAddress">
                                                <div id="newAddAddress"  class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                    <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
        
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Full Name *</label>
                                                            <input type="text" id="newFullName" name="fullName" class="form-control" >
                                                            <div class="login-error" id="newNameError"></div>
                                                        </div><!-- End .col-sm-6 -->
            
                                                        <div class="col-sm-6">
                                                            <label>Address *</label>
                                                            <input type="text" id="newAddress" name="address" class="form-control" >
                                                            <div class="login-error" id="newAddressError"></div>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
        
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Email *</label>
                                                            <input type="text" id="newEmail" name="email" class="form-control" >
                                                            <div class="login-error" id="newEmailError"></div>
                                                        </div><!-- End .col-sm-6 -->
            
                                                        <div class="col-sm-6">
                                                            <label>Mobile *</label>
                                                            <input type="text" id="newMobile" name="mobile" class="form-control" >
                                                            <div class="login-error" id="newMobileError"></div>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
        
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Country *</label>
                                                            <input type="text" id="newCountry" name="country" class="form-control" >
                                                            <div class="login-error" id="newCountryError"></div>
                                                        </div><!-- End .col-sm-6 -->
            
                                                        <div class="col-sm-6">
                                                            <label>State *</label>
                                                            <input type="text" id="newState" name="state" class="form-control" >
                                                            <div class="login-error" id="newStateError"></div>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
        
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>District *</label>
                                                            <input type="text" id="newDistrict" name="district" class="form-control" >
                                                            <div class="login-error" id="newDistrictError"></div>
                                                        </div><!-- End .col-sm-6 -->
            
                                                        <div class="col-sm-6">
                                                            <label>Pincode *</label>
                                                            <input type="text" id="newPincode" name="pincode" class="form-control" >
                                                            <div class="login-error" id="newPincodeError"></div>
                                                        </div><!-- End .col-sm-6 -->
                                                    </div><!-- End .row -->
        
                                                    <button id="newSubmitButton" class="btn btn-outline-primary-2 btn-order btn-block mt-1">
                                                        <span class="btn-text">Add Address</span>
                                                        <span class="btn-hover-text">Submit</span>
                                                    </button>
        
                                                </div><!-- End .custom-checkbox -->
        
                                            </form>

                                            <%}%>
                                    
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					

		                					<tbody >
		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>₹ <%=subTotal%></td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td >Shipping:</td>
                                                    <%if(subTotal< 1000){%>
                                                        <td class="text-danger">₹ 50/-</td>
                                                    <%}else{%>
                                                        <td>Free shipping</td>
                                                    <%}%>
		                							
                                                    
                                                </tr>
                                                <%if(discountamount){%>
                                                    <td>Discount:</td>
                                                <td class="text-success">₹<%=discountamount%>.00</td>
                                                    <%}else{%>
                                                        <td>Discount:</td>
                                                        <td id="discount-amount-show">₹ 0.00</td>
                                                    <%}%>
                                                
                                                <%if(total){%>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>₹ <span id="total-amount"><%=total%></span></td>
		                						</tr><!-- End .summary-total -->
                                                <%}else{%>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td>₹ <span id="total-amount"><%=subTotal%></span></td>
                                                    </tr><!-- End .summary-total -->
                                                <%}%>
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary mb-2" id="accordion-payment">
                                            <%if(subTotal>1000){%>
                                                <div class="card">
                                                    <div class="card-header" id="heading-1">
                                                        <h2 class="card-title mb-1">
                                                            <label class="custom-radio">
                                                                <input type="radio" disabled>
                                                                  Cash on Delivery
                                                            </label>
                                                            <p class="text-danger small">(order amount above 1000 wont be get cash on delivery)</p>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                </div><!-- End .card -->
                                                <%}else{%>
                                                    <div class="card">
                                                        <div class="card-header" id="heading-1">
                                                            <h2 class="card-title mb-1">
                                                                <label class="custom-radio">
                                                                    <input type="radio" name="selectedPayment" data-toggle="collapse" href="#collapse-1" value="cash on delivery" aria-expanded="false" aria-controls="collapse-1">
                                                                      Cash on Delivery
                                                                </label>
                                                            </h2>
                                                        </div><!-- End .card-header -->
                                                        <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion-payment">
                                                            <div class="card-body">
                                                                Payment is due upon delivery. Please have the exact amount ready to hand over to our delivery personnel. Your order will be handed over to you upon payment.
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .collapse -->
                                                    </div><!-- End .card -->
                                                <%}%>
                                            
                                            <%if(user.wallet>=subTotal){%>
                                            <div class="card">
                                                <div class="card-header" id="heading-2">
                                                    <h2 class="card-title mb-1">
                                                        <label class="custom-radio">
                                                            <input type="radio" name="selectedPayment" data-toggle="collapse" href="#collapse-2" value="wallet" aria-expanded="false" aria-controls="collapse-2">
                                                            Wallet
                                                        </label>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
                                                    <div class="card-body">
                                                        Your payment has been successfully processed through our wallet payment system. Your order will be shipped shortly.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                            <%}else {%>
                                                <div class="card">
                                                    <div class="card-header" id="heading-2">
                                                        <h2 class="card-title mb-1">
                                                            <label class="custom-radio">
                                                                <input type="radio" disabled>
                                                                Wallet <span class="text-danger small ml-3">balance : ₹ <%=(user.wallet).toFixed(2) %></span>
                                                                <br>
                                                                <p class="text-danger small ml-4 mt-1">Not enough money in your wallet</p>
                                                            </label>
                                                        </h2>
                                                    </div><!-- End .card-header -->
                                                </div>
                                                <%}%> 
                                        
                                            <div class="card">
                                                <div class="card-header" id="heading-5">
                                                    <h2 class="card-title mb-1">
                                                        <label class="custom-radio">
                                                            <input type="radio" name="selectedPayment" data-toggle="collapse" href="#collapse-5" value="Razorpay" aria-expanded="false" aria-controls="collapse-5">
                                                            RazorPay
                                                            <img class="mt-1" src="assets/images/payments-summary.png" alt="payments cards">
                                                        </label>
                                                    </h2>
                                                </div><!-- End .card-header -->
                                                <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                    <div class="card-body"> 
                                                        Your payment has been securely processed through Razorpay. Your order will now be processed and shipped.
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .collapse -->
                                            </div><!-- End .card -->
                                        </div><!-- End .accordion -->
                                        

		                				<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>

                        
                    </li>
                    <li>
                        <a href="/shopPage">Shop</a>
                        
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <script src="assets/js/checkoutValidation.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            // Select the first address and payment method by default
            document.querySelector('input[name="selectedAddress"]:first-of-type').checked = true;
            document.querySelector('input[name="selectedPayment"][value="Razorpay"]').checked = true;
        
            // Add event listener for form submission
            const checkoutForm = document.getElementById('checkoutForm');
            checkoutForm.addEventListener('submit', function(event) {
                event.preventDefault();
        
                // Get form data
                const formData = new FormData(checkoutForm);
        
                // Convert form data to JSON object
                const jsonObject = {};
                formData.forEach((value, key) => {
                    jsonObject[key] = value;
                });
        
                // Make a fetch request to save the details in the order model
                fetch('/order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonObject)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.save===true) {
                        Swal.fire({
                            title:'Ordered',
                            text:'Order added successfully',
                            icon:'success',
                            confirmButtonColor:'#c96',
                            confirmButtonText:'ok'
                        }).then(()=>{
                            location.href='/'
                        })
                    } else if(data.success === false){
                        razorpay(data.order)
                    }
                    console.log('Order details saved:', data);
                    
                })
                .catch(error => {
                    console.error('Error saving order details:', error);
                });
            });
        });
    
    </script>

    <script>

        document.getElementById('submitButton').addEventListener('click', function(event){

            event.preventDefault();

    document.getElementById('fullnameError').innerText="";
    document.getElementById('addressError').innerText="";
    document.getElementById('emailError').innerText="";
    document.getElementById('mobileError').innerText="";
    document.getElementById('countryError').innerText="";
    document.getElementById('stateError').innerText="";
    document.getElementById('districtError').innerText="";
    document.getElementById('pincodeError').innerText="";

    fullName = document.getElementById('fullName').value,
    address = document.getElementById('address').value,
    email = document.getElementById('email').value,
    mobile = document.getElementById('mobile').value,
    country = document.getElementById('country').value,
    state = document.getElementById('state').value,
    district = document.getElementById('district').value,
    pincode = document.getElementById('pincode').value

    let isValid = true;

    if (fullName.trim()==="") {
        document.getElementById('fullnameError').innerText="FullName required!!";
        isValid=false
    }
    if (address.trim()==="") {
        document.getElementById('addressError').innerText="Address required!!";
        isValid=false
    }
    if (email.trim()==="") {
        document.getElementById('emailError').innerText="email required!!";
        isValid=false
    }else if(!email.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/)){
        document.getElementById('emailError').innerText="Invalid Email!!";
        isValid=false
    }
    if (mobile.trim()==="" || mobile.length<8) {
        document.getElementById('mobileError').innerText="Invalid mobile!!";
        isValid=false
    }
    if (country.trim()==="") {
        document.getElementById('countryError').innerText="Country name required!!";
        isValid=false
    }
    if (state.trim()==="") {
        document.getElementById('stateError').innerText="State name required!!";
        isValid=false
    }
    if (district.trim()==="") {
        document.getElementById('districtError').innerText="District name required!!";
        isValid=false
    }
    if (pincode.trim()==="") {
        document.getElementById('pincodeError').innerText="Pincode required!!";
        isValid=false
    }

    if (isValid===true) {
        let data = {
                fullName : document.getElementById('fullName').value,
                address : document.getElementById('address').value,
                email : document.getElementById('email').value,
                mobile : document.getElementById('mobile').value,
                country : document.getElementById('country').value,
                state : document.getElementById('state').value,
                district : document.getElementById('district').value,
                pincode : document.getElementById('pincode').value
            }
            
            console.log(data," ","formDataaaaaaa")
            

            fetch('/checkoutAddAddress',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({data})
            })
            .then(response => response.json())
            .then(data => {
                if (data.add===true) {
                    Swal.fire({
                        title:'Added',
                        text:'Address added successfully',
                        icon:'success',
                        confirmButtonColor:'#c96',
                        confirmButtonText:'ok'
                    }).then(()=>{
                        location.reload()
                    })
                } else if(data.add === false){
                    Swal.fire({
                        title:'Failed',
                        text:'Address adding failed',
                        icon:'error',
                        confirmButtonColor : '#c96',
                        confirmButtonText:"ok"
                    }).then(()=>{
                        location.reload()
                    })
                }
            })
    }
            
            
        })
       
    </script>

    <script>

document.getElementById('newSubmitButton').addEventListener('click', function(event){

event.preventDefault();

document.getElementById('newNameError').innerText="";
document.getElementById('newAddressError').innerText="";
document.getElementById('newEmailError').innerText="";
document.getElementById('newMobileError').innerText="";
document.getElementById('newCountryError').innerText="";
document.getElementById('newStateError').innerText="";
document.getElementById('newDistrictError').innerText="";
document.getElementById('newPincodeError').innerText="";

    fullName = document.getElementById('newFullName').value,
    address = document.getElementById('newAddress').value,
    email = document.getElementById('newEmail').value,
    mobile = document.getElementById('newMobile').value,
    country = document.getElementById('newCountry').value,
    state = document.getElementById('newState').value,
    district = document.getElementById('newDistrict').value,
    pincode = document.getElementById('newPincode').value

    let isValid = true;

    if (fullName.trim()==="") {
        document.getElementById('newNameError').innerText="FullName required!!";
        isValid=false
    }
    if (address.trim()==="") {
        document.getElementById('newAddressError').innerText="Address required!!";
        isValid=false
    }
    if (email.trim()==="") {
        document.getElementById('newEmailError').innerText="email required!!";
        isValid=false
    }else if(!email.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/)){
        document.getElementById('newEmailError').innerText="Invalid Email!!";
        isValid=false
    }
    if (mobile.trim()==="" || mobile.length<8) {
        document.getElementById('newMobileError').innerText="Invalid mobile!!";
        isValid=false
    }
    if (country.trim()==="") {
        document.getElementById('newCountryError').innerText="Country name required!!";
        isValid=false
    }
    if (state.trim()==="") {
        document.getElementById('newStateError').innerText="State name required!!";
        isValid=false
    }
    if (district.trim()==="") {
        document.getElementById('newDistrictError').innerText="District name required!!";
        isValid=false
    }
    if (pincode.trim()==="") {
        document.getElementById('newPincodeError').innerText="Pincode required!!";
        isValid=false
    }

    if (isValid===true) {
        let data = {
    fullName : document.getElementById('newFullName').value,
    address : document.getElementById('newAddress').value,
    email : document.getElementById('newEmail').value,
    mobile : document.getElementById('newMobile').value,
    country : document.getElementById('newCountry').value,
    state : document.getElementById('newState').value,
    district : document.getElementById('newDistrict').value,
    pincode : document.getElementById('newPincode').value
}

console.log(data," ","formDataaaaaaa")


fetch('/checkoutAddAddress',{
    method:'POST',
    headers:{
        'Content-Type':'application/json'
    },
    body:JSON.stringify({data})
})
.then(response => response.json())
.then(data => {
    if (data.add===true) {
        Swal.fire({
            title:'Added',
            text:'Address added successfully',
            icon:'success',
            confirmButtonColor:'#c96',
            confirmButtonText:'ok'
        }).then(()=>{
            location.reload()
        })
    } else if(data.add === false){
        Swal.fire({
            title:'Failed',
            text:'Address adding failed',
            icon:'error',
            confirmButtonColor : '#c96',
            confirmButtonText:"ok"
        }).then(()=>{
            location.reload()
        })
    }
})
    }


})

    </script>

<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function razorpay(order){
        console.log('razorpat eyhiiiiiiiii',order,":order")
        var options = {
    "key": "rzp_test_1sHKSD9RFByTBQ", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Molla", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id,
    "handler": function (response){
       razorpayVerify(response,order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};
let raz = new Razorpay(options);
            raz.open();
    }


function razorpayVerify(response,order) {
    console.log('fjbkknknsknc');
    fetch('/razorpayVerify',{
            method:'PATCH',
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringify({response,order})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success===true) {
                Swal.fire({
                    title:'Success',
                    text:'Payment done',
                    icon:'success',
                    confirmButtonColor:"#c96",
                    confirmButtonText:'Ok',
                    timer:2000
                }).then(()=>{
                    location.href = '/shopPage'
                }) 
            }
        })
}
</script>

<script>
    function addCoupon(id){
        fetch('/applyCoupon',{
            method:'PATCH',
            headers: {
                'Content-Type':'application/json'
            },
            body: JSON.stringify({id})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success===true) {
                Swal.fire({
                    title:'Success',
                    text:'Payment done',
                    icon:'success',
                    confirmButtonColor:"#c96",
                    confirmButtonText:'Ok',
                    timer:2000
                }).then(()=>{
                    location.reload()
                }) 
            }
        })
        
        
    }
</script>

<script>
    function removeCoupon() {

        fetch('removeCoupon',{
            method:'DELETE',
            headers : {
                'Content-Type':'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.remove===true) {  
                    location.reload()
            }
        })
    }
</script>


</body>


<!-- Mirrored from portotheme.com/html/molla/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jan 2024 09:06:05 GMT -->
</html>