<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from portotheme.com/html/molla/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jan 2024 09:06:05 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +91 974680 7689</a></li>
                                    <li><a href="/wishlist"><i class="icon-heart-o"></i>Wishlist
                                        </a></li>
                                    <li><a href="comingSoon">About Us</a></li>
                                    <li><a href="comingSoon">Contact Us</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" >Home</a>
                                </li>
                                <li>
                                    <a href="/shopPage" >Shop</a>


                                </li>
                                <li>
                                    <a href="comingSoon" >Product</a>

                                    
                                </li>
                                <li>
                                    <a href="comingSoon" >Pages</a>

                                    
                                </li>
                                <li>
                                    <a href="comingSoon" >Blog</a>

                                    
                                </li>
                                <li>
                                    <a href="ecomingSoon" >Elements</a>

                                    
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i
                                    class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..."
                                        required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        

                        <div class="dropdown cart-dropdown">
                            <a href="cart" class="dropdown-toggle" role="button"
                                 data-display="static">
                                <i class="icon-shopping-cart"></i>
                                
                            </a>

                            
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">My Account<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">User</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                            role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-wallet-link" data-toggle="tab" href="#tab-wallet"
                                            role="tab" aria-controls="tab-wallet" aria-selected="false">wallet</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-resetPass-link" data-toggle="tab"
                                            href="#tab-resetPass" role="tab" aria-controls="tab-resetPass"
                                            aria-selected="false">Reset
                                            Password</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" onclick="logout()">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                        aria-labelledby="tab-dashboard-link">
                                        <h3 class="prfl-dtl card-title mb-2 ml-5">User Details</h3>
                                        <!-- End .card-title -->
                                        <div class="card card-dashboard ml-5">

                                            <div class="card-body">

                                                <br>
                                                <ol>
                                                    <h6>User Name</h6>
                                                    <p>
                                                        <%=users.name%>
                                                    </p>
                                                </ol>

                                                <ol>
                                                    <h6>Email</h6>
                                                    <p>
                                                        <%=users.email%>
                                                    </p>
                                                </ol>

                                                <ol>
                                                    <h6>Mobile</h6>
                                                    <p>
                                                        <%=users.mobile%>
                                                    </p>
                                                </ol>

                                                <ol>
                                                    <h6>Refferal code</h6>
                                                    <p>
                                                        <%=users.referral%>
                                                    </p>
                                                </ol>


                                            </div><!-- End .card-body -->
                                        </div><!-- End .card-dashboard -->
                                        <div class="more-container text-center mt-0 mb-7">
                                            <a href="#tab-editProfile" class="btn btn-outline-dark-3 btn-more nav-link"
                                                data-toggle="tab" role="tab" aria-controls="tab-editProfile"
                                                aria-selected="false"><span>Edit Profile</span><i
                                                    class="fa-solid fa-pencil"></i>
                                            </a>
                                        </div>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-editProfile" role="tabpanel"
                                        aria-labelledby="tab-account-link">
                                        <form id="editForm">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>User Name *</label>
                                                    <input type="text" id="userName" value="<%= users.name %>"
                                                        class="form-control mb-0">
                                                    <div class="login-error" id="error-name"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Email *</label>
                                                    <input type="text" id="userEmail" value="<%= users.email %>"
                                                        class="form-control text-light" disabled>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Mobile *</label>
                                                    <input type="text" id="userMobile" value="<%= users.mobile %>"
                                                        class="form-control mb-0">
                                                    <div class="login-error" id="error-mobile"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <br>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Referral *</label>
                                                    <input type="text" id="userMobile" value="<%= users.referral %>"
                                                        class="form-control mb-0 text-light" disabled>
                                                    <div class="login-error" id="error-mobile"></div>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <br>

                                            <button type="submit" onclick="editProfile()"
                                                class="btn btn-outline-primary-2">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div><!-- .End .tab-pane -->



                                    <div class="tab-pane fade ml-5" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        <%if(orders && orders.length> 0) {%>
                                            <h4 class="account-title">Orders</h4>
                                            <div class="account-table text-center table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="no">No</th>
                                                            <th class="date">Date</th>
                                                            <th class="total">Amount</th>
                                                            <th class="">Payment</th>
                                                            <th class="name">Status</th>
                                                            <th class="action">details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% orders.forEach((val,index)=> {%>
                                                            <tr>
                                                                <td>
                                                                    <%=index + 1%>
                                                                </td>
                                                                <td>
                                                                    <%= val.orderDate.toLocaleDateString('en-US', {
                                                                        weekday: 'short' , year: 'numeric' ,
                                                                        month: 'short' , day: 'numeric' }) %>

                                                                </td>
                                                                <td>
                                                                    <%=val.totalPrice%>
                                                                </td>
                                                                <td>
                                                                    <%=val.payment%>
                                                                </td>
                                                                <%if(val.orderStatus==='Cancelled'){%>
                                                                    <td><span
                                                                            class="badge rounded-pill alert-danger">Cancelled</span>
                                                                    </td>
                                                                    <%}else if(val.orderStatus==='delivered' ){%>
                                                                        <td><span
                                                                                class="badge rounded-pill alert-success">Delivered</span>
                                                                        </td>
                                                                        <%}else if(val.orderStatus==='pending' ){%>
                                                                            <td><span
                                                                                    class="badge rounded-pill alert-warning">Pending</span>
                                                                            </td>
                                                                            <%}else
                                                                                if(val.orderStatus==='out for delivery'
                                                                                ){%>
                                                                                <td><span
                                                                                        class="badge rounded-pill alert-success">Out
                                                                                        for delivery</span></td>
                                                                                <%}else if(val.orderStatus==='placed'
                                                                                    ){%>
                                                                                    <td><span
                                                                                            class="badge rounded-pill alert-success">Placed</span>
                                                                                    </td>
                                                                                    <%}else
                                                                                        if(val.orderStatus==='returned'
                                                                                        ){%>
                                                                                        <td><span
                                                                                                class="badge rounded-pill alert-danger">Returned</span>
                                                                                        </td>
                                                                                        <%}%>

                                                                                            <td>
                                                                                                <a
                                                                                                    href="/orderDetails?id=<%=val._id%>">View</a>
                                                                                            </td>
                                                            </tr>
                                                            <%})%>
                                                    </tbody>
                                                </table>
                                            </div>

                                            <%} else {%>

                                                <p>No orders available yet.</p>


                                                <!-- <p>No order has been made yet.</p> -->
                                                <a href="category.html" class="btn btn-outline-primary-2"><span>GO
                                                        SHOP</span><i class="icon-long-arrow-right"></i></a>

                                                <%}%>
                                    </div>
                                    <!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-wallet" role="tabpanel"
                                        aria-labelledby="tab-wallet-link">
                                        <div class="account-table text-center table-responsive ml-5">
                                            <table class="table">
                                                <thead>
                                                    <h4 style="color: #c96;">Wallet History</h4>
                                                    <h6 class="text-success mt-3">Balance : ₹ <%=users.wallet%>
                                                    </h6>
                                                    <br>
                                                    <tr>
                                                        <th class="name">
                                                            Date
                                                        </th>
                                                        <th class="date">status</th>

                                                        <th class="action">
                                                            Amount
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%users.walletHistory.forEach((val)=>{%>
                                                        <tr>
                                                            <td>
                                                                <%=val.date.toLocaleDateString('en-US', {
                                                                    weekday: 'short' , year: 'numeric' , month: 'short'
                                                                    , day: 'numeric' })%>
                                                            </td>

                                                            <%if(val.amount>0){%>

                                                                <td class="text-success">credited</td>


                                                                <td class="text-success">₹ <%=val.amount%>
                                                                </td>
                                                                <%}else{%>
                                                                    <td class="text-danger">debited</td>


                                                                    <td class="text-danger">-₹ <%=Math.abs(val.amount)%>

                                                                    </td>
                                                                    <%}%>

                                                        </tr>
                                                        <%})%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div><!-- .End .tab-pane -->

                                    <% if (address && address.address && address.address.length) { %>


                                        <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                            aria-labelledby="tab-address-link">
                                            <% address.address.forEach(function(val,index) { %>
                                                <h5 class="address-h5 ml-5">Address <%=index+1%>
                                                </h5>
                                                <h3 class="prfl-dtl card-title mb-2 ml-5"></h3><!-- End .card-title -->
                                                <div class="card card-dashboard ml-5">

                                                    <div class="card-body">
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">Full Name</h6>
                                                                    <p>
                                                                        <%= val.fullName %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">Address</h6>
                                                                    <p>
                                                                        <%= val.address %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">Email</h6>
                                                                    <p>
                                                                        <%= val.email %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">Mobile</h6>
                                                                    <p>
                                                                        <%= val.mobile %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">Country</h6>
                                                                    <p>
                                                                        <%= val.country %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">State</h6>
                                                                    <p>
                                                                        <%= val.state %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">District</h6>
                                                                    <p>
                                                                        <%= val.district %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <ol>
                                                                    <h6 class="address-h6">Pincode</h6>
                                                                    <p>
                                                                        <%= val.pincode %>
                                                                    </p>
                                                                </ol>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .card-body -->
                                                    <div class="text-center d-flex justify-content-center">
                                                        <div class="more-container text-center mt-0 mb-7">
                                                            <button type="button" class="btn btn-primary"
                                                                onclick="openEditModal('<%=val._id%>','<%=val.fullName%>','<%=val.address%>','<%=val.email%>','<%=val.mobile%>','<%=val.country%>','<%=val.state%>','<%=val.district%>','<%=val.pincode%>')"
                                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                                                Edit Address
                                                            </button>
                                                        </div>
                                                        <div class="more-container text-center mt-0">
                                                            <button onclick="deleteAddress('<%= val._id %>')"
                                                                class="btn btn-outline-dark-3 btn-more">
                                                                <span>Delete</span><i class="fa-solid fa-trash"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div><!-- End .card-dashboard -->

                                                <% }) %>
                                                    <div class="more-container text-center mt-0 mb-7">
                                                        <a href="#tab-addAddress"
                                                            class="btn btn-outline-dark-3 btn-more nav-link"
                                                            data-toggle="tab" role="tab" aria-controls="tab-addProfile"
                                                            aria-selected="false">
                                                            <span>Add Address</span><i class="fa-solid fa-pencil"></i>
                                                        </a>
                                                    </div>
                                        </div><!-- .End .tab-pane -->
                                        <% } else { %>
                                            <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                                aria-labelledby="tab-address-link">
                                                <h3 class="prfl-dtl card-title mb-2 ml-5"></h3>
                                                <!-- End .card-title -->
                                                <div class="card card-dashboard ml-5">
                                                    <div class="card-body">
                                                        <br>
                                                        <h6>No address available</h6>
                                                    </div><!-- End .card-body -->
                                                </div><!-- End .card-dashboard -->
                                                <div class="more-container text-center mt-0 mb-7">
                                                    <a href="#tab-addAddress"
                                                        class="btn btn-outline-dark-3 btn-more nav-link"
                                                        data-toggle="tab" role="tab" aria-controls="tab-addProfile"
                                                        aria-selected="false">
                                                        <span>Add Address</span><i class="fa-solid fa-pencil"></i>
                                                    </a>
                                                </div>
                                            </div><!-- .End .tab-pane -->

                                            <% } %>

                                                <div class="tab-pane fade" id="tab-addAddress" role="tabpanel"
                                                    aria-labelledby="tab-addAddress-link">
                                                    <form id="addAddress">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>Full Name *</label>
                                                                <input type="text" name="fullName" id="fullName"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-name"></div>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <label>Address *</label>
                                                                <input type="text" name="address" id="address"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-address">
                                                                </div>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>Email *</label>
                                                                <input type="text" name="email" id="email"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-email"></div>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <label>Mobile *</label>
                                                                <input type="text" name="mobile" id="mobile"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-mobile">
                                                                </div>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>Country *</label>
                                                                <input type="text" name="country" id="country"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-country">
                                                                </div>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <label>State *</label>
                                                                <input type="text" name="state" id="state"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-state"></div>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>District *</label>
                                                                <input type="text" name="district" id="district"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-district">
                                                                </div>
                                                            </div><!-- End .col-sm-6 -->

                                                            <div class="col-sm-6">
                                                                <label>Pincode *</label>
                                                                <input type="text" name="pincode" id="pincode"
                                                                    class="form-control">
                                                                <div class="login-error" id="error-address-pincode">
                                                                </div>
                                                            </div><!-- End .col-sm-6 -->
                                                        </div><!-- End .row -->

                                                        <button type="submit" onclick="addAddress()"
                                                            class="btn btn-outline-primary-2">
                                                            <span>SAVE CHANGES</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>
                                                    </form>
                                                </div><!-- .End .tab-pane -->

                                                

                                                <div class="tab-pane fade" id="tab-resetPass" role="tabpanel"
                                                    aria-labelledby="tab-resetPass-link">
                                                    <form id="resetPassForm">

                                                        <div class="col-sm-6">
                                                            <label>Current Password *</label>
                                                            <input type="password" name="currentPass" id="currentPass"
                                                                class="form-control">
                                                            <div class="error-div" id="currentPassError"></div>
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6">
                                                            <label>New Password *</label>
                                                            <input type="password" name="newPass" id="newPass"
                                                                class="form-control">
                                                            <div class="error-div" id="newPassError"></div>
                                                        </div><!-- End .col-sm-6 -->

                                                        <div class="col-sm-6 mb-2">
                                                            <label>Confirm New Password *</label>
                                                            <input type="password" id="confirmPass" name="confirmPass"
                                                                class="form-control">
                                                            <div class="error-div" id="confirmPassError"></div>
                                                        </div><!-- End .col-sm-6 -->


                                                        <button id="resetPassSubmit"
                                                            class="btn btn-outline-primary-2 ml-3 mr-4">
                                                            <span>SAVE CHANGES</span>
                                                            <i class="icon-long-arrow-right"></i>
                                                        </button>

                                                        <a href="">forgot password?</a>
                                                    </form>
                                                </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105"
                                    height="25">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate
                                    magna eros eu erat. </p>

                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i
                                            class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i
                                            class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i
                                            class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i
                                            class="icon-youtube"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Pinterest"><i
                                            class="icon-pinterest"></i></a>
                                </div><!-- End .soial-icons -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="comingSoonl">About Molla</a></li>
                                    <li><a href="comingSoon">How to shop on Molla</a></li>
                                    <li><a href="comingSoon">FAQ</a></li>
                                    <li><a href="comingSoon">Contact us</a></li>
                                    <li><a href="/login">Log in</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="comingSoon">Payment Methods</a></li>
                                    <li><a href="comingSoon">Money-back guarantee!</a></li>
                                    <li><a href="comingSoon">Returns</a></li>
                                    <li><a href="comingSoon">Shipping</a></li>
                                    <li><a href="comingSoon">Terms and conditions</a></li>
                                    <li><a href="comingSoon">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/login">Sign In</a></li>
                                    <li><a href="cart">View Cart</a></li>
                                    <li><a href="wishlist">My Wishlist</a></li>
                                    <li><a href="comingSoon">Track My Order</a></li>
                                    <li><a href="comingSoon">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="shopPage">Shop</a>
                    </li>
                    <li>
                        <a href="comingSoon" >New</a>
                        
                    </li>
                    <li>
                        <a href="comingSoon">Pages</a>
                        
                    </li>
                    <li>
                        <a href="comingSoon">Blog</a>

                        
                    </li>
                    <li>
                        <a href="comingSoon">Elements</a>
                        
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="editAddressForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ml-3" id="staticBackdropLabel">Edit Address</h5>
                        <button type="button" onclick="closeEditModal()" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="tab-pane" id="tab-editAddress">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Full Name *</label>
                                    <input type="text" name="fullName" id="editFullName" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-fullName"></div>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Address *</label>
                                    <input type="text" name="address" id="addressEdit" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-address"></div>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Email *</label>
                                    <input type="email" name="email" id="editEmail" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-email"></div>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Mobile *</label>
                                    <input type="number" name="mobile" id="editMobile" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-mobile"></div>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Country *</label>
                                    <input type="text" name="country" id="editCountry" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-country"></div>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State *</label>
                                    <input type="text" name="state" id="editState" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-state"></div>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>District *</label>
                                    <input type="text" name="district" id="editDistrict" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-district"></div>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Pincode *</label>
                                    <input type="number" name="pincode" id="editPincode" class="form-control mb-1">
                                    <div class="login-error" id="error-edit-pincode"></div>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->


                        </div><!-- .End .tab-pane -->
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="closeEditModal()" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="button" onclick="editAddress()" class="btn btn-primary">Save Changes</button>
                    </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="assets/js/profileValidation.js"></script>
    <script src="assets/js/resetPassValidation.js"></script>


    <script>

        document.getElementById('resetPassSubmit').addEventListener('click', function (event) {
            event.preventDefault();

            document.getElementById('newPassError').innerText = "";
            document.getElementById('confirmPassError').innerText = "";
            document.getElementById('currentPassError').innerText = "";


            const newPassword = document.getElementById('newPass').value;
            const confirmPassword = document.getElementById('confirmPass').value;
            const currentPassword = document.getElementById('currentPass').value;

            let isValid = true;

            if (currentPassword.trim() === "" || currentPassword.length < 8) {
                document.getElementById('currentPassError').innerText = "Incorrect Password";
                isValid = false
            }
            if (newPassword.trim() === "" || newPassword.length < 8) {
                document.getElementById('newPassError').innerText = "Atleast 8 characters required!!"
                isValid = false;
            }

            if (confirmPassword.trim() === "" || confirmPassword.length < 8) {
                document.getElementById('confirmPassError').innerText = "Atleast 8 characters required!!"
                isValid = false;
            }


            if (isValid === true) {
                let data = {
                    currentPass: document.getElementById('currentPass').value,
                    newPass: document.getElementById('newPass').value,
                    confirmPass: document.getElementById('confirmPass').value
                }

                fetch('/resetPass', {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ data })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.add === true) {
                            Swal.fire({
                                title: 'Changed',
                                text: 'Password changed',
                                icon: 'success',
                                confirmButtonColor: '#c96',
                                confirmButtonText: 'ok'
                            }).then(() => {
                                location.reload()
                            })
                        }
                        else if (data.exist===true) {
                            Swal.fire({
                                title: 'error',
                                text: 'Current password and new password is same!!',
                                icon: 'error',
                                confirmButtonColor: '#c96',
                                confirmButtonText: 'ok',
                                timer: 3000
                            }).then(() => {
                                location.reload()
                            })
                        } else {
                            Swal.fire({
                                title: 'error',
                                text: 'Password doesnt match!!',
                                icon: 'error',
                                confirmButtonColor: '#c96',
                                confirmButtonText: 'ok',
                                timer: 3000
                            }).then(() => {
                                location.reload()
                            })
                        }
                    })
            }

        })
    </script>


    <script>

        function logout() {
            Swal.fire({
                title: "Are you sure?",
                text: "Do you want to logout?",
                showCancelButton: true,
                confirmButtonColor: "#cc9966",
                cancelButtonColor: "black",
                confirmButtonText: "Logout"
            }).then(async (result) => {
                if (result.isConfirmed) {
                    window.location.href = '/logout'
                }
            });
        }

    </script>


    <script>

        function editProfile() {
            const form = document.getElementById('editForm');
            const errorName = document.getElementById('error-name');
            const errorMobile = document.getElementById('error-mobile');

            form.addEventListener('submit', async (e) => {
                e.preventDefault();

                errorName.innerText = "";
                errorMobile.innerText = "";

                const name = document.getElementById('userName').value;
                const mobile = document.getElementById('userMobile').value;

                const isValid = validateInputs(name, mobile);

                if (!isValid) {
                    return;
                }

                try {
                    const response = await fetch('/profile', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            mobile,
                            name
                        }),
                    });

                    if (!response.ok) {
                        console.log('Error editing profile');
                    } else {
                        // $('#editDiv').load('/profile' ,'#editDiv')
                        location.href = '/profile';
                    }
                } catch (error) {
                    console.error('Error:', error);
                }
            });

            function validateInputs(name, mobile) {
                let isValid = true;

                if (name.trim() === "") {
                    errorName.innerText = "Username is required.";
                    isValid = false;
                }

                if (mobile.trim() === "") {
                    errorMobile.innerText = "Mobile is required.";
                    isValid = false;
                } else if (mobile.length !== 10) {
                    errorMobile.innerText = "Invalid mobile number.";
                    isValid = false;
                }

                return isValid;
            }
        }


    </script>

    <script>

        function addAddress() {

            const form = document.getElementById('addAddress');

            form.addEventListener('submit', (e) => {
                e.preventDefault();
                document.getElementById("error-address-name").innerText = "";
                document.getElementById("error-address-address").innerText = "";
                document.getElementById("error-address-mobile").innerText = "";
                document.getElementById("error-address-email").innerText = "";
                document.getElementById("error-address-country").innerText = "";
                document.getElementById("error-address-state").innerText = "";
                document.getElementById("error-address-district").innerText = "";
                document.getElementById("error-address-pincode").innerText = "";

                const fullName = document.getElementById('fullName').value;
                const address = document.getElementById('address').value;
                const email = document.getElementById('email').value;
                const mobile = document.getElementById('mobile').value;
                const country = document.getElementById('country').value;
                const state = document.getElementById('state').value;
                const district = document.getElementById('district').value;
                const pincode = document.getElementById('pincode').value;


                const verified = validateInputs(fullName, address, email, mobile, country, state, district, pincode);
                if (verified === false) {
                    return;
                }

                try {
                    fetch('/addAddress', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            fullName,
                            address,
                            email,
                            mobile,
                            country,
                            state,
                            district,
                            pincode

                        }),

                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.add === true) {
                                Swal.fire({
                                    title: 'Added',
                                    text: 'Address addedd successfull',
                                    icon: 'success',
                                    confirmButtonColor: '#c96',
                                    confirmButtonText: 'ok',
                                    timer: 3000
                                }).then(() => {
                                    location.reload()
                                })
                            } else {
                                Swal.fire({
                                    title: 'error',
                                    text: 'Address adding failed!!',
                                    icon: 'error',
                                    confirmButtonColor: '#c96',
                                    confirmButtonText: 'ok',
                                    timer: 3000
                                }).then(() => {
                                    location.reload()
                                })
                            }
                        })
                } catch (error) {
                    console.log(error.message);
                }


            })



            function validateInputs(fullName, address, email, mobile, country, state, district, pincode) {
                let isValid = true;

                if (fullName.trim() === "") {
                    document.getElementById("error-address-name").innerText = "Full name is required.";
                    isValid = false;
                }

                if (email.trim() === "") {
                    document.getElementById("error-address-email").innerText = "Email is required.";
                    isValid = false;
                } else if (!email.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/)) {
                    document.getElementById("error-address-email").innerText = "Provide a valid email.";
                    isValid = false;
                }

                if (mobile.trim() === "") {
                    document.getElementById("error-address-mobile").innerText =
                        "Mobile number is required.";
                    isValid = false;
                } else if (mobile.length < 10 || mobile.length > 10) {
                    isValid = false;
                    document.getElementById("error-address-mobile").innerText = "Invalid mobile number.";
                }

                if (address.trim() === "") {
                    document.getElementById("error-address-address").innerText =
                        "address is required.";
                    isValid = false;
                }

                if (country.trim() === "") {
                    document.getElementById("error-address-country").innerText =
                        "Country name is required.";
                    isValid = false;
                }

                if (state.trim() === "") {
                    document.getElementById("error-address-state").innerText =
                        "State name is required.";
                    isValid = false;
                }

                if (district.trim() === "") {
                    document.getElementById("error-address-district").innerText =
                        "District name is required.";
                    isValid = false;
                }

                if (pincode.trim() === "") {
                    document.getElementById("error-address-pincode").innerText =
                        "Pincode is required.";
                    isValid = false;
                }

                return isValid;
            }


        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Include SweetAlert CDN -->


    <script>

        let addressId;
        async function openEditModal(id, name, address, email, mobile, country, state, district, pincode) {

            addressId = id;
            $('#staticBackdrop').modal('show')

            document.getElementById('editFullName').value = name;
            document.getElementById('addressEdit').value = address;
            document.getElementById('editEmail').value = email;
            document.getElementById('editMobile').value = mobile;
            document.getElementById('editCountry').value = country;
            document.getElementById('editState').value = state;
            document.getElementById('editDistrict').value = district;
            document.getElementById('editPincode').value = pincode;
        }

        async function closeEditModal() {
            $('#staticBackdrop').modal('hide');
        }

        function editAddress(id) {

            const editForm = document.getElementById('editAddressForm')

            editForm.addEventListener('submit', (e) => {
                e.preventDefault()

                document.getElementById('error-edit-fullName').innerText = "";
                document.getElementById('error-edit-address').innerText = "";
                document.getElementById('error-edit-email').innerText = "";
                document.getElementById('error-edit-mobile').innerText = "";
                document.getElementById('error-edit-country').innerText = "";
                document.getElementById('error-edit-state').innerText = "";
                document.getElementById('error-edit-district').innerText = "";
                document.getElementById('error-edit-pincode').innerText = "";
            })

            const fullName = document.getElementById('editFullName').value;
            const address = document.getElementById('addressEdit').value;
            const email = document.getElementById('editEmail').value;
            const mobile = document.getElementById('editMobile').value;
            const country = document.getElementById('editCountry').value;
            const state = document.getElementById('editState').value;
            const district = document.getElementById('editDistrict').value;
            const pincode = document.getElementById('editPincode').value;

            const isValid = validateEditAddress(fullName, address, email, mobile, country, state, district, pincode);

            if (!isValid) {
                return
            }

            fetch('/editAddress', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    addressId,
                    fullName,
                    address,
                    email,
                    mobile,
                    country,
                    state,
                    district,
                    pincode

                }),

            })
                .then(response => response.json())
                .then(data => {
                    if (data.edit === true) {
                        Swal.fire({
                            title: 'Edit Success',
                            text: 'Address edited successfully',
                            icon: 'success',
                            confirmButtonText: 'Ok',
                            confirmButtonColor: '#c96',
                            timer: 3000

                        }).then(() => {
                            location.reload()
                        })
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: 'Edit address failed',
                            icon: 'error',
                            confirmButtonText: 'Ok',
                            confirmButtonColor: '#c96',
                            timer: 3000

                        }).then(() => {
                            location.reload()
                        })
                    }
                })


            function validateEditAddress(name, address, email, mobile, country, state, district, pincode) {
                let isValid = true;

                if (name.trim() === "") {
                    document.getElementById('error-edit-fullName').innerText = "Fullname is required.";
                    isValid = false;
                }

                if (address.trim() === "") {
                    document.getElementById('error-edit-address').innerText = "Address is required.";
                    isValid = false;
                }

                if (email.trim() === "") {
                    document.getElementById('error-edit-email').innerText = "email is required.";
                    isValid = false;
                } else if (
                    !email.match(/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/)
                ) {
                    document.getElementById("error-edit-email").innerText =
                        "Provide a valid email.";
                    isValid = false;
                }

                if (mobile.trim() === "") {
                    document.getElementById('error-edit-mobile').innerText = "Mobile is required.";
                    isValid = false;
                } else if (mobile.length !== 10) {
                    document.getElementById('error-edit-mobile').innerText = "Invalid mobile number.";
                    isValid = false;
                }

                if (country.trim() === "") {
                    document.getElementById('error-edit-state').innerText = "Country is required.";
                    isValid = false;
                }

                if (state.trim() === "") {
                    document.getElementById('error-edit-state').innerText = "State is required.";
                    isValid = false;
                }

                if (district.trim() === "") {
                    document.getElementById('error-edit-district').innerText = "District is required.";
                    isValid = false;
                }

                if (pincode.trim() === "") {
                    document.getElementById('error-edit-pincode').innerText = "Pincode is required.";
                    isValid = false;
                }

                return isValid;
            }
        }
    </script>

    <script>
        function deleteAddress(addressId) {
            // Display SweetAlert confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'red',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user confirms, send DELETE request
                    fetch(`/profile/address/${addressId}`, {
                        method: 'DELETE',
                        credentials: 'same-origin'
                    })
                        .then(response => {
                            if (response.ok) {
                                // Display success message with SweetAlert
                                Swal.fire(
                                    'Deleted!',
                                    'Your address has been deleted.',
                                    'success'
                                )
                                    .then(response => {
                                        if (response) {
                                            location.reload(); // Optionally reload the page
                                        }

                                    })
                            } else {
                                console.error('Error deleting address');
                            }
                        })
                        .catch(error => {
                            console.error('Error deleting address:', error);
                        });
                }
            });
        }
    </script>


    <!-- <script>
        document.getElementById('signOutLink').addEventListener('click', function() {
            // Show the confirmation modal
            $('#confirmationModal').modal('show');
        });
    
        document.getElementById('confirmSignOut').addEventListener('click', function() {
            // Perform sign out logic here

            // Close the modal
            $('#confirmationModal').modal('hide');
        });
    </script> -->
    <!-- Plugins JS File -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


<!-- Mirrored from portotheme.com/html/molla/dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 07 Jan 2024 09:06:06 GMT -->

</html>